<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}">
</head>
<body>
<br>
<br>
<br>

    <div class="container">
      <div class="header">Calculator</div>
      <form action="/result" method="get">
      <input type="text" name="numresult" id="results" class="result">

      <div class="first-row">
        <input type="button" name="" value="&radic;" class="global" onclick="moveNumbers(this.value)">
        <input type="button" name="" value="(" class="global" onclick="moveNumbers(this.value)">
        <input type="button" name="" value=")" class="global" onclick="moveNumbers(this.value)">
        <input type="button" name="" value="%" class="global" onclick="moveNumbers(this.value)">
      </div>
      <div class="second-row">
        <input type="button" name="" value="7" class="global" onclick="moveNumbers(this.value)">
        <input type="button" name="" value="8" class="global" onclick="moveNumbers(this.value)">
        <input type="button" name="" value="9" class="global" onclick="moveNumbers(this.value)">
        <input type="button" name="" value="/" class="global" onclick="moveNumbers(this.value)">
      </div>
      <div class="third-row">
        <input type="button" name="4" value="4" class="global" onclick="moveNumbers(this.value)">
        <input type="button" name="5" value="5" class="global" onclick="moveNumbers(this.value)">
        <input type="button" name="6" value="6" class="global" onclick="moveNumbers(this.value)">
        <input type="button" name="" value="*" class="global" onclick="moveNumbers(this.value)">
      </div>
      <div class="fourth-row">
        <input type="button" name="" value="1" class="global" onclick="moveNumbers(this.value)">
        <input type="button" name="" value="2" class="global" onclick="moveNumbers(this.value)">
        <input type="button" name="" value="3" class="global" onclick="moveNumbers(this.value)">
        <input type="button" name="" value="-" class="global" onclick="moveNumbers(this.value)">
      </div>
      <div class="conflict">
        <div class="left">
          <input type="button" name="" value="0" class=" big" onclick="moveNumbers(this.value)">
          <input type="button" name="" value="." class=" small" onclick="moveNumbers(this.value)">
          <a href="/">
            <input type="button" name="" value="Del" class=" red small white-text top-margin">
          </a>
          <input type="submit" name="" value="=" class=" green white-text big top-margin">
        </div>
        <div class="right">
          <input type="button" name="" value="+" class="global grey plus" onclick="moveNumbers(this.value)">
        </div>

      </div>
        </form>

    </div>


</body>
<script>
function moveNumbers(num) {
    var txt=document.getElementById("results").value;
    txt=txt + num;
    document.getElementById("results").value=txt;
    }
</script>
</html>